@charset "UTF-8";

@font-face {
  font-family: Efourpro;
  font-display: swap;
  src: url("../fonts/Efourpro.woff2") format("woff2"), url("../fonts/Efourpro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Franxurter;
  font-display: swap;
  src: url("../fonts/Franxurter.woff2") format("woff2"), url("../fonts/Franxurter.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.star-left:after,
.star-right:before,
[class*=icon-]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-location-colored:before {
  content: "\e900";
}

.icon-star:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3E3E3E;
  line-height: 1;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  aspect-ratio: attr(width)/attr(height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  overflow-x: hidden;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-width: 120rem;
  margin: 0 auto;
}

.wrapper > main {
  padding-top: 8.1875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.4375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem 0.75rem 3.75rem;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  width: 100%;
  max-width: 57.9375rem;
  border-radius: 0.3125rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup {
  color: #8A8A8A;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__body {
  max-width: 57.9375rem;
}

.popup__img {
  height: 100%;
  position: relative;
}

.popup__img img {
  width: 100%;
}

.popup__close {
  position: absolute;
  display: inline-block;
  right: 50px;
  top: 35px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  scroll-behavior: smooth;
}

.text_orange {
  color: #E96100;
  line-height: 114.9%;
}

@supports (font-size: clamp( 1.5625rem , 1.4406973203rem  +  0.6090133983vw , 1.875rem )) {
  .text_orange {
    font-size: clamp( 1.5625rem , 1.4406973203rem  +  0.6090133983vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.4406973203rem  +  0.6090133983vw , 1.875rem )) {
  .text_orange {
    font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.title-h2 {
  font-family: "Franxurter";
  line-height: 129.158%;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.4375rem , 1.1451735688rem  +  1.4616321559vw , 2.1875rem )) {
  .title-h2 {
    font-size: clamp( 1.4375rem , 1.1451735688rem  +  1.4616321559vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 1.1451735688rem  +  1.4616321559vw , 2.1875rem )) {
  .title-h2 {
    font-size: calc(1.4375rem + 0.75 * (100vw - 20rem) / 51.3125);
  }
}

.title-h3 {
  text-align: center;
  font-family: "Franxurter";
  line-height: 114.9%;
}

@supports (font-size: clamp( 1.375rem , 1.1801157125rem  +  0.9744214373vw , 1.875rem )) {
  .title-h3 {
    font-size: clamp( 1.375rem , 1.1801157125rem  +  0.9744214373vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.1801157125rem  +  0.9744214373vw , 1.875rem )) {
  .title-h3 {
    font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 51.3125);
  }
}

.fw600 {
  font-weight: 600;
}

.green {
  color: #8DBF3D;
}

.purple {
  color: #B37CD5;
}

.dark-purple {
  color: #6F58CD;
}

.pink {
  color: #E50056;
}

.dark-pink {
  color: #882A4D;
}

.blue {
  color: #006BB8;
}

.orange {
  color: #E96100;
}

.light-blue {
  color: #6DCAE4;
}

.blue-bg {
  background-color: #E5F9FF;
}

.purple-bg {
  background-color: #F0EDFF;
}

.orange-bg {
  background-color: #FDF7E8;
}

.star-right {
  display: inline-block;
  position: relative;
}

.star-right:before {
  content: "\e901";
  position: absolute;
  bottom: 0.625rem;
  right: -1.875rem;
  font-size: 1.5rem;
}

.star-left {
  display: inline-block;
  position: relative;
}

.star-left:after {
  content: "\e901";
  position: absolute;
  bottom: 0.625rem;
  left: -1.875rem;
  font-size: 1.5rem;
}

.icon-menu {
  display: none;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8125rem;
  min-height: 8.1875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.8125rem;
}

.menu__list li {
  position: relative;
}

.menu__link {
  padding: 0.8125rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 135%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.menu__list li {
  text-align: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}

.logo__img img {
  width: 100%;
}

.logo__text img {
  width: 100%;
}

.menu__item {
  color: #E8496E;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@supports (font-size: clamp( 1.125rem , 1.0031973203rem  +  0.6090133983vw , 1.4375rem )) {
  .menu__item {
    font-size: clamp( 1.125rem , 1.0031973203rem  +  0.6090133983vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0031973203rem  +  0.6090133983vw , 1.4375rem )) {
  .menu__item {
    font-size: calc(1.125rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.menu__item:hover {
  color: #FFB84A;
}

.footer {
  background-color: #FFF1CD;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 2.375rem;
}

@supports (gap: clamp( 1.25rem , -0.3577953715rem  +  8.0389768575vw , 5.375rem )) {
  .footer__container {
    gap: clamp( 1.25rem , -0.3577953715rem  +  8.0389768575vw , 5.375rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.3577953715rem  +  8.0389768575vw , 5.375rem )) {
  .footer__container {
    gap: calc(1.25rem + 4.125 * (100vw - 20rem) / 51.3125);
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 2.0625rem , 1.2586023143rem  +  4.0194884287vw , 4.125rem )) {
  .footer__socials {
    gap: clamp( 2.0625rem , 1.2586023143rem  +  4.0194884287vw , 4.125rem );
  }
}

@supports not (gap: clamp( 2.0625rem , 1.2586023143rem  +  4.0194884287vw , 4.125rem )) {
  .footer__socials {
    gap: calc(2.0625rem + 2.0625 * (100vw - 20rem) / 51.3125);
  }
}

.contacts__title {
  margin-bottom: 0.625rem;
}

.contacts__list {
  margin-left: 1.1875rem;
}

.contacts__item {
  color: #3E3E3E;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 114.9%;
  position: relative;
}

.contacts__item:not(:last-child) {
  margin-bottom: 1.625rem;
}

.contacts__item:before {
  content: "";
  position: absolute;
  background: url(../img/icons/star_orange.svg) 0 0 no-repeat;
  width: 1.0625rem;
  height: 1rem;
  top: 2px;
  left: -1.25rem;
}

.page {
  width: 100%;
}

.main__info {
  color: #3E3E3E;
  font-family: "Nunito";
  font-weight: 700;
  line-height: 114.9%;
  padding-top: 2.0625rem;
  padding-bottom: 1.6875rem;
}

@supports (font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem )) {
  .main__info {
    font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem )) {
  .main__info {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.main__text {
  margin-bottom: 0.5625rem;
}

.main__list {
  margin-left: 1.25rem;
}

.main__item {
  margin-bottom: 0.8125rem;
  position: relative;
}

.main__item:before {
  content: "";
  position: absolute;
  max-width: 15px;
  max-height: 15px;
  width: 100%;
  height: 100%;
  top: 0.3125rem;
  left: -1.5625rem;
}

.main__item.orange:before {
  background: url(../img/icons/star_orange.svg) 0 0 no-repeat;
}

.main__item.purple:before {
  background: url(../img/icons/star-purple.svg) 0 0 no-repeat;
}

.main__item.light-blue:before {
  background: url(../img/icons/star-light-blue.svg) 0 0 no-repeat;
}

.main__banner {
  margin-bottom: 1.875rem;
}

.no-webp .main-banner{
  background: url(../img/banner.png) 40% 50% no-repeat; }

.main-banner {
  background-size: cover;
}

.main-banner__body {
  padding-top: 2.1875rem;
  padding-bottom: 2rem;
  max-width: 38.5625rem;
  width: 100%;
}

.main-banner__body img {
  width: 100%;
}

.main-banner__text {
  color: #FFF;
  font-family: "Franxurter";
  line-height: 114.9%;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 2rem , 1.8051157125rem  +  0.9744214373vw , 2.5rem )) {
  .main-banner__text {
    font-size: clamp( 2rem , 1.8051157125rem  +  0.9744214373vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.8051157125rem  +  0.9744214373vw , 2.5rem )) {
  .main-banner__text {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 51.3125);
  }
}

.attractions__header {
  background-color: #FDF7E8;
  padding-top: 1.5rem;
}

@supports (padding-bottom: clamp( 2.5rem , 1.6961023143rem  +  4.0194884287vw , 4.5625rem )) {
  .attractions__header {
    padding-bottom: clamp( 2.5rem , 1.6961023143rem  +  4.0194884287vw , 4.5625rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6961023143rem  +  4.0194884287vw , 4.5625rem )) {
  .attractions__header {
    padding-bottom: calc(2.5rem + 2.0625 * (100vw - 20rem) / 51.3125);
  }
}

.attractions__title {
  margin-bottom: 1.25rem;
}

.attractions__text {
  max-width: 39.625rem;
}

.attractions__text p {
  margin-bottom: 0.9375rem;
}

.levels {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
  padding-left: 5.5rem;
}

.levels__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 2.75rem , 1.7755785627rem  +  4.8721071864vw , 5.25rem )) {
  .levels__container {
    gap: clamp( 2.75rem , 1.7755785627rem  +  4.8721071864vw , 5.25rem );
  }
}

@supports not (gap: clamp( 2.75rem , 1.7755785627rem  +  4.8721071864vw , 5.25rem )) {
  .levels__container {
    gap: calc(2.75rem + 2.5 * (100vw - 20rem) / 51.3125);
  }
}

.levels__item {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 84.9%;
  position: relative;
}

.levels__item:before {
  content: "";
  position: absolute;
  top: -0.5625rem;
  left: -2.8125rem;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
}

.levels__item.pink:before {
  background-color: #E50056;
}

.levels__item.light-blue:before {
  background-color: #6DCAE4;
}

.levels__item.orange:before {
  background-color: #F99035;
}

.levels__item.dark-purple:before {
  background-color: #B37CD5;
}

.cards-block__row {
  padding-top: 0.875rem;
}

.cards-block__container {
  position: relative;
  z-index: 10;
}

.cards-block__card {
  width: 100%;
}

.card-block__header {
  max-width: 18.25rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.card-block__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  padding-top: 20px;
}

.card-block__subtitle {
  margin-left: 1.1875rem;
  font-size: 15px;
}

.card-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (gap: clamp( 0.9375rem , 0.3772076736rem  +  2.8014616322vw , 2.375rem )) {
  .card-block__cards {
    gap: clamp( 0.9375rem , 0.3772076736rem  +  2.8014616322vw , 2.375rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.3772076736rem  +  2.8014616322vw , 2.375rem )) {
  .card-block__cards {
    gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 51.3125);
  }
}

.special-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-attraction {
  max-width: 15.3125rem;
  padding: 0.3125rem;
  position: relative;
}

.card-attraction__levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6875rem;
  margin-bottom: 0.625rem;
}

.card-attraction__level {
  padding: 0.1875rem 0.3125rem;
  font-size: 0.8125rem;
  font-family: "Franxurter";
}

.card-attraction__img {
  position: relative;
}

.card-attraction__img-main img {
  width: 100%;
}

.card-attraction__cloud {
  position: absolute;
  bottom: -0.9375rem;
  right: -1.5625rem;
  z-index: 5;
  width: 107px;
  height: 64px;
}

.card-attraction__info {
  padding: 0.9375rem 0 1.375rem;
}

.card-attraction__name {
  font-size: 15px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.card-attraction__name > a:before {
  position: absolute;
  content: "";
  inset: 0;
}

.card-attraction__text {
  font-family: "Nunito Sans";
  font-size: 0.75rem;
}

.choose {
  border-radius: 1.5625rem;
}

.choose.purple {
  border: 1px solid #B37CD5;
}

.choose.orange {
  border: 1px solid #F99035;
}

.choose.pink {
  border: 1px solid #E50056;
}

.choose.light-blue {
  border: 1px solid #6DCAE4;
}

.gift__title {
  margin-bottom: 0.75rem;
  padding-top: 1.25rem;
}

.gift__body {
  padding-top: 1.4375rem;
  padding-bottom: 1.625rem;
  background-color: #FFE6F1;
}

.gift__text {
  color: #3E3E3E;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  line-height: 124.4%;
}

@supports (font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem )) {
  .gift__text {
    font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem )) {
  .gift__text {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.tickets {
  padding-top: 1.875rem;
}

.tickets__title {
  margin-bottom: 1.6875rem;
}

.tickets__attention {
  color: #ED508B;
  font-family: "Nunito Sans";
  font-weight: 800;
  line-height: 125.4%;
  text-transform: uppercase;
  margin-bottom: 1.6875rem;
  margin-left: 4.875rem;
  position: relative;
}

@supports (font-size: clamp( 0.9375rem , 0.8156973203rem  +  0.6090133983vw , 1.25rem )) {
  .tickets__attention {
    font-size: clamp( 0.9375rem , 0.8156973203rem  +  0.6090133983vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8156973203rem  +  0.6090133983vw , 1.25rem )) {
  .tickets__attention {
    font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.tickets__attention:before {
  content: "";
  position: absolute;
  width: 3.875rem;
  height: 3.875rem;
  top: -5px;
  left: -4.875rem;
  background: url(../img/icons/attention.svg) 0 0 no-repeat;
  z-index: 0;
}

.main-rules {
  background-color: #F8EDFF;
  padding: 1.5rem 0 2.125rem;
  position: relative;
}

.no-webp .main-rules:after{
  background: url("../img/hat.png") 0 0 no-repeat; }

.main-rules:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 34.625rem;
  max-height: 20.75rem;
}

.main-rules__container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-rules__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  margin-bottom: 1.4375rem;
}

.main-rules__num {
  color: #B37CD5;
  font-family: "Franxurter";
  line-height: 129.158%;
  text-transform: lowercase;
  margin-top: -0.9375rem;
}

@supports (font-size: clamp( 2.8125rem , 2.447091961rem  +  1.8270401949vw , 3.75rem )) {
  .main-rules__num {
    font-size: clamp( 2.8125rem , 2.447091961rem  +  1.8270401949vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.8125rem , 2.447091961rem  +  1.8270401949vw , 3.75rem )) {
  .main-rules__num {
    font-size: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 51.3125);
  }
}

.main-rules__text {
  color: #3E3E3E;
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  line-height: 114.9%;
  font-weight: 600;
}

.main-rules__text span {
  font-weight: 800;
}

.main-rules__attention {
  color: #B37CD5;
  font-weight: 700;
  max-width: 33.8125rem;
}

.main-rules__btn {
  max-width: 23rem;
  background-color: #8022BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.4375rem 1.25rem;
  border-radius: 45px;
  -webkit-transform: background-color 0.3s ease;
      -ms-transform: background-color 0.3s ease;
          transform: background-color 0.3s ease;
}

.main-rules__btn img {
  width: 100%;
}

.map__container {
  padding-top: 2.75rem;
  padding-bottom: 1.4375rem;
}

.map__title {
  margin-bottom: 1.6875rem;
}

.map__img img {
  width: 100%;
}

.rules__container {
  text-align: center;
  padding-top: 1.4375rem;
  padding-bottom: 1.625rem;
}

.location__container {
  padding-top: 1.5625rem;
  padding-bottom: 2.8125rem;
}

.location__title {
  margin-bottom: 1.25rem;
}

.location__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.location__map {
  max-width: 32.9375rem;
  min-width: 20rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.location__info {
  max-width: 32.5rem;
  padding-left: 3.8125rem;
}

.location__item {
  color: #3E3E3E;
  line-height: 114.9%;
  position: relative;
}

@supports (font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem )) {
  .location__item {
    font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1281973203rem  +  0.6090133983vw , 1.5625rem )) {
  .location__item {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.location__item:before {
  content: "";
  position: absolute;
  top: 0.1875rem;
  left: -3.4375rem;
}

.location__item.address {
  font-weight: 700;
}

.location__item.address:before {
  background: url(../img/icons/location.svg) 0 0 no-repeat;
  width: 1.625rem;
  height: 2.1875rem;
  margin-left: 0.625rem;
}

.location__item.car:before {
  background: url(../img/icons/car.svg) 0 0 no-repeat;
  width: 2.625rem;
  height: 2.1875rem;
}

.location__item.bus:before {
  background: url(../img/icons/bus.svg) 0 0 no-repeat;
  width: 2.625rem;
  height: 2.1875rem;
}

.location__item:not(:last-child) {
  margin-bottom: 2.25rem;
}

.price__container {
  text-align: center;
}

.price__title {
  margin-bottom: 1.875rem;
}

.price-enter {
  padding: 1rem 0;
  margin-bottom: 0.9375rem;
  border-top: 2px solid #8DBF3D;
  border-bottom: 2px solid #8DBF3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-enter__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3125rem;
  margin-bottom: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-enter__price {
  color: #8DBF3D;
  font-family: "Franxurter";
  line-height: 114.9%;
  position: relative;
}

@supports (font-size: clamp( 1.25rem , 1.0063946407rem  +  1.2180267966vw , 1.875rem )) {
  .price-enter__price {
    font-size: clamp( 1.25rem , 1.0063946407rem  +  1.2180267966vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0063946407rem  +  1.2180267966vw , 1.875rem )) {
  .price-enter__price {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 51.3125);
  }
}

.price-enter__price:after {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 100%;
  bottom: 0;
  right: -0.625rem;
  background-color: #D8D9D9;
}

@supports (font-size: clamp( 1.0625rem , 0.9894183922rem  +  0.365408039vw , 1.25rem )) {
  .price-enter__condition {
    font-size: clamp( 1.0625rem , 0.9894183922rem  +  0.365408039vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.0625rem , 0.9894183922rem  +  0.365408039vw , 1.25rem )) {
  .price-enter__condition {
    font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 51.3125);
  }
}

.price-enter__bottom {
  color: #8E8E8E;
  font-size: 0.9375rem;
  line-height: 118.4%;
  max-width: 60.5625rem;
}

.bonuses {
  border-bottom: 2px solid #8DBF3D;
  padding-bottom: 2.0625rem;
}

.bonuses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (gap: clamp( 0.9375rem , 0.572091961rem  +  1.8270401949vw , 1.875rem )) {
  .bonuses__row {
    gap: clamp( 0.9375rem , 0.572091961rem  +  1.8270401949vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.572091961rem  +  1.8270401949vw , 1.875rem )) {
  .bonuses__row {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.3125);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7627892814rem  +  2.4360535932vw , 2.5rem )) {
  .bonuses__row:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.7627892814rem  +  2.4360535932vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7627892814rem  +  2.4360535932vw , 2.5rem )) {
  .bonuses__row:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.3125);
  }
}

.bonuses__title {
  margin-bottom: 1rem;
}

.bonuses-card {
  max-width: 33.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bonuses-card__info {
  min-width: 13.25rem;
  max-width: 20.75rem;
  padding: 1.5rem 0.5rem;
}

.bonuses-card__title {
  text-align: center;
  font-family: "Franxurter";
  font-size: 1.5625rem;
  line-height: 114.9%;
  margin-bottom: 0.625rem;
}

.orange .bonuses-card__title {
  color: #F99035;
}

.light-blue .bonuses-card__title {
  color: #6DCAE4;
}

.purple .bonuses-card__title {
  color: #B37CD5;
}

.bonuses-card__subtitle {
  color: #3E3E3E;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 118.4%;
}

.bonuses-card__counts {
  padding: 1.5rem 1rem;
}

.orange .bonuses-card__counts {
  border-left: 3px solid #F99035;
}

.light-blue .bonuses-card__counts {
  border-left: 3px solid #6DCAE4;
}

.purple .bonuses-card__counts {
  border-left: 3px solid #B37CD5;
}

.orange .bonuses-card {
  border: 3px solid #F99035;
}

.light-blue .bonuses-card {
  border: 3px solid #6DCAE4;
}

.purple .bonuses-card {
  border: 3px solid #B37CD5;
}

.packages {
  padding: 1.3125rem 0;
}

.packages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.packages__title {
  margin-bottom: 0.3125rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.4852314251rem  +  1.9488428745vw , 2.875rem )) {
  .packages__text {
    margin-bottom: clamp( 1.875rem , 1.4852314251rem  +  1.9488428745vw , 2.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4852314251rem  +  1.9488428745vw , 2.875rem )) {
  .packages__text {
    margin-bottom: calc(1.875rem + 1 * (100vw - 20rem) / 51.3125);
  }
}

.packages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.1875rem;
  margin-bottom: 0.9375rem;
}

.card-package__img img {
  width: 100%;
}

.card-package__body {
  max-height: 8.125rem;
  min-width: 10.4375rem;
}

.card-package__body.orange {
  border: 3px solid #F99035;
}

.card-package__body.pink {
  border: 3px solid #E50056;
}

.card-package__body.green {
  border: 3px solid #8DBF3D;
}

.card-package__body.purple {
  border: 3px solid #B37CD5;
}

.card-package__name {
  text-align: center;
  font-family: "Franxurter";
  font-size: 1.5625rem;
  padding: 0.625rem 0.8125rem;
}

.orange .card-package__name {
  border-bottom: 3px solid #F99035;
}

.pink .card-package__name {
  border-bottom: 3px solid #E50056;
}

.green .card-package__name {
  border-bottom: 3px solid #8DBF3D;
}

.purple .card-package__name {
  border-bottom: 3px solid #B37CD5;
}

.card-package__counts {
  padding: 0.875rem 0.375rem;
}

.card-package__count {
  text-align: center;
  font-family: "Franxurter";
  font-size: 1.25rem;
}

.card-package__text {
  color: #3E3E3E;
  text-align: center;
  font-size: 15px;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.attractions-price__group {
  color: #3E3E3E;
}

.attractions-price__header {
  padding: 0.9375rem 0 0.6875rem;
}

.attractions-price__header.light-blue {
  border-top: 2px solid #6DCAE4;
  border-bottom: 2px solid #6DCAE4;
}

.attractions-price__header.purple {
  border-top: 2px solid #B37CD5;
  border-bottom: 2px solid #B37CD5;
}

.attractions-price__header.orange {
  border-top: 2px solid #F99035;
  border-bottom: 2px solid #F99035;
}

.attractions-price__table {
  padding: 1.25rem 0;
}

.attractions-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attractions-price__row:not(:last-child) {
  margin-bottom: 1.25rem;
}

.attractions-price__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 29.25rem;
  width: 100%;
  padding: 0.3125rem;
}

@supports (gap: clamp( 0.9375rem , 0.3284866017rem  +  3.0450669915vw , 2.5rem )) {
  .attractions-price__half {
    gap: clamp( 0.9375rem , 0.3284866017rem  +  3.0450669915vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.3284866017rem  +  3.0450669915vw , 2.5rem )) {
  .attractions-price__half {
    gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 51.3125);
  }
}

.attractions-price__num {
  font-size: 25px;
}

.attractions-price__img {
  width: 3.6875rem;
}

.attractions-price__img img {
  width: 100%;
  max-height: 4.5625rem;
}

.attractions-price__name {
  font-size: 25px;
}

.attractions-price__restrictions {
  color: #3E3E3E;
  position: relative;
  max-width: 18.125rem;
  width: 100%;
}

.attractions-price__restrictions:before {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 100%;
  min-height: 1.5625rem;
  left: -0.875rem;
  bottom: 0;
}

.orange .attractions-price__restrictions:before {
  background-color: #F7A500;
}

.light-blue .attractions-price__restrictions:before {
  background-color: #7ED0E7;
}

.purple .attractions-price__restrictions:before {
  background-color: #B37CD5;
}

.pink .attractions-price__restrictions:before {
  background-color: #E50056;
}

.attractions-price__price {
  color: #3E3E3E;
  font-size: 1.5625rem;
}

.orange-border {
  border-bottom: 2px solid #F99035;
}

.add__container {
  padding-top: 2.1875rem;
  padding-bottom: 3.125rem;
}

.add__text {
  text-align: center;
}

.zones {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.zones__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1rem;
  margin-left: 2.375rem;
}

@supports (gap: clamp( 2.1875rem , 2.0656973203rem  +  0.6090133983vw , 2.5rem )) {
  .zones__list {
    gap: clamp( 2.1875rem , 2.0656973203rem  +  0.6090133983vw , 2.5rem );
  }
}

@supports not (gap: clamp( 2.1875rem , 2.0656973203rem  +  0.6090133983vw , 2.5rem )) {
  .zones__list {
    gap: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 51.3125);
  }
}

.zones__item {
  color: #141515;
  position: relative;
}

.zones__item:before {
  content: "";
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  left: -2.9375rem;
  border-radius: 50%;
  bottom: 0;
}

.zones__item.purple:before {
  background: #B37CD5;
}

.zones__item.pink:before {
  background: #E50056;
}

.zones__item.orange:before {
  background: #F99035;
}

.zones__item.light-blue:before {
  background: #6DCAE4;
}

#CDT {
  color: #fff;
  font-family: "Franxurter";
  letter-spacing: 2.4px;
  padding: 0.625rem 0.3125rem 2.1875rem;
  border: 3px solid #FFED8B;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 34.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (font-size: clamp( 2.1875rem , 1.0912758831rem  +  5.4811205847vw , 5rem )) {
  #CDT {
    font-size: clamp( 2.1875rem , 1.0912758831rem  +  5.4811205847vw , 5rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.0912758831rem  +  5.4811205847vw , 5rem )) {
  #CDT {
    font-size: calc(2.1875rem + 2.8125 * (100vw - 20rem) / 51.3125);
  }
}

#CDT .number-wrapper {
  margin: 5px;
  position: relative;
}

#CDT .number {
  display: inline-block;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  padding: 0.3125rem;
}

#CDT .line {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 52%;
  left: 0;
}

.caption {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
}

@supports (font-size: clamp( 0.6875rem , 0.346452497rem  +  1.7052375152vw , 1.5625rem )) {
  .caption {
    font-size: clamp( 0.6875rem , 0.346452497rem  +  1.7052375152vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.346452497rem  +  1.7052375152vw , 1.5625rem )) {
  .caption {
    font-size: calc(0.6875rem + 0.875 * (100vw - 20rem) / 51.3125);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.main__slider.swiper {
  position: relative;
  max-width: 1110px;
}

.main__slide img {
  width: 100%;
  max-width: 1110px;
}

.main__slider .swiper-button-prev,
.main__slider .swiper-button-next {
  position: absolute;
  top: 45%;
}

.main__slider .swiper-button-prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.main__slider .swiper-button-next {
  right: 0;
}

:root {
  --f-spinner-width: 36px;
  --f-spinner-height: 36px;
  --f-spinner-color-1: rgba(0, 0, 0, 0.1);
  --f-spinner-color-2: rgba(17, 24, 28, 0.8);
  --f-spinner-stroke: 2.75;
}

.f-spinner {
  margin: auto;
  padding: 0;
  width: var(--f-spinner-width);
  height: var(--f-spinner-height);
}

.f-spinner svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -webkit-animation: f-spinner-rotate 2s linear infinite;
          animation: f-spinner-rotate 2s linear infinite;
}

.f-spinner svg * {
  stroke-width: var(--f-spinner-stroke);
  fill: none;
}

.f-spinner svg *:first-child {
  stroke: var(--f-spinner-color-1);
}

.f-spinner svg *:last-child {
  stroke: var(--f-spinner-color-2);
  -webkit-animation: f-spinner-dash 2s ease-in-out infinite;
          animation: f-spinner-dash 2s ease-in-out infinite;
}

@-webkit-keyframes f-spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes f-spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes f-spinner-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@keyframes f-spinner-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.f-panzoom {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
}

.f-panzoom.is-draggable {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.f-panzoom.can-zoom_in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.f-panzoom.can-zoom_out {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.f-panzoom.is-dragging {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.f-panzoom.in-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  aspect-ratio: unset !important;
  z-index: 9999;
}

.f-panzoom__content {
  display: block;
  margin: auto;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0) skew(0);
          transform: translate3d(0, 0, 0) scale(1) rotate(0) skew(0);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.is-loading .f-panzoom__content {
  display: none;
}

.is-scaling .f-panzoom__content {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  will-change: transform, width, height;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

picture.f-panzoom__content > img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.f-panzoom__content:not(:last-child) {
  margin-bottom: 0;
}

.f-panzoom__viewport {
  margin: auto;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 1px;
}

.f-panzoom__viewport:not(:last-child) {
  margin-bottom: 0;
}

.f-panzoom__caption:not(:first-child) {
  margin-bottom: auto;
}

html.with-panzoom-in-fullscreen {
  overflow: hidden;
}

@media (min-width: 31.25em) {
  .main-banner {
    min-height: 41.8125rem;
  }
}

@media (min-width: 47.99875em) {
  .bonuses-card__info {
    width: 19.6875rem;
  }
}

@media (min-width: 61.99875em) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .attractions__container {
    position: relative;
    overflow: visible;
  }

  .no-webp .attractions__container:after{
    background: url(../img/uuzornik.png) 0 0 no-repeat; }

  .attractions__container:after {
    content: "";
    position: absolute;
    bottom: -6.25rem;
    right: 0;
    width: 33.5625rem;
    height: 33.5625rem;
  }

  .cards-block__row.blue-bg {
    position: relative;
  }

  .cards-block__row.blue-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26.75rem;
    height: 29.5rem;
    background-color: #FFE6F1;
  }

@supports (margin-right: clamp( 1.875rem , 1.144183922rem  +  3.6540803898vw , 3.75rem )) {
    .attractions-price__restrictions {
      margin-right: clamp( 1.875rem , 1.144183922rem  +  3.6540803898vw , 3.75rem );
    }
}

@supports not (margin-right: clamp( 1.875rem , 1.144183922rem  +  3.6540803898vw , 3.75rem )) {
    .attractions-price__restrictions {
      margin-right: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.3125);
    }
}
}

@media (max-width: 1100px) {
  .pink-block {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .main__slider .swiper-button-prev img,
  .main__slider .swiper-button-next img {
    max-height: 45px;
  }
}

@media (max-width: 520px) {
  .menu__list > li {
    min-width: 300px;
  }
}

@media (max-width: 86.25rem) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.1875rem;
    height: 1.25rem;
    cursor: pointer;
    background-color: #fff;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #E8496E;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 420px;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10.625rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-open .menu {
    left: 0;
  }

  .menu-open .menu::before {
    left: 0;
  }

  .menu__list li {
    padding-bottom: 1.5625rem;
  }

  .menu__list {
    display: block;
  }

  .menu__list > li {
    margin: 0px 0px 10px 0px;
    max-width: 15.625rem;
  }

  .cards-block__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-block__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-rules:after {
    display: none;
  }

  .location__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 61.9375rem) {
  .menu__list li {
    min-width: 15.625rem;
    max-width: 18.75rem;
    width: 100%;
  }

  .menu__list > li {
    min-width: 350px;
  }
}

@media (max-width: 47.99875em) {
  .popup__close {
    max-width: 20px;
    right: 20px;
    top: 25px;
  }

  .menu__list li {
    padding-bottom: 0.9375rem;
  }

  .menu__link {
    padding: 1.25rem;
  }

  .logo__text img {
    max-width: 11.875rem;
  }

  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .attractions__title.star-right:before {
    bottom: 0.625rem;
    right: 0rem;
  }

  .main-rules__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-rules__btn {
    max-width: 11.25rem;
  }

  .price-enter__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .price-enter__price:after {
    height: 2px;
    width: 100%;
    right: 0;
    bottom: -0.625rem;
  }

  .attractions-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .attractions-price__row:not(:last-child) {
    border-bottom: 1px solid #b3b0b0;
  }

  .attractions-price__half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 31.25em) {
  .main-banner {
    min-height: 31.8125rem;
  }
}

@media (min-width: 61.99875em) and (max-width: 1450px) {
  .cards-block__row.blue-bg:before {
    width: 19.25rem;
  }
}

@media (min-width: 61.99875em) and (max-width: 1125px) {
  .cards-block__row.blue-bg:before {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .popup__close:hover {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__link:hover {
    color: #6DCAE4;
  }

  .card-attraction:hover {
    opacity: 0.8;
  }

  .main-rules__btn:hover {
    background-color: #E50056;
  }
}

.webp .main-banner{ background: url(../img/banner.webp) 40% 50% no-repeat; }

.webp .main-rules:after{ background: url(../img/hat.webp) 0 0 no-repeat; }

@media (min-width: 61.99875em){

  .webp .attractions__container:after{ background: url(../img/uuzornik.webp) 0 0 no-repeat; }
}